[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
	branch = 8.0.1
[submodule "deps/re2c"]
	path = deps/re2c
	url = https://github.com/skvadrik/re2c
	branch = 61af1763f
[submodule "deps/smhasher"]
	path = deps/smhasher
	url = https://github.com/aappleby/smhasher.git
	branch = 61a0530f
